<%if notice || alert%>
  <p><%= notice || alert %></p>
<%end%>
<div class= "comment_panel">
  <div class="comment">
    <% for user_post in posts %>
      <div>
        <div class = "name">
          <%= link_to user_post.user.name, user_path(user_post.user) %>
        </div>
        <div class="commentator">
          <%= simple_format(user_post.post.content)%>
          <div class="commentator_name">
            <%= user_post.created_at.to_s(:short) %>
          </div>
        </div> 
        <div class="retweet"> 
          <% if ! (user_post.creator?(current_user)) %> 
            <%=  button_to "Retweet" , clone_path(id: user_post) %>
          <%end%>
        </div>
        <div class ="shared_user">
          <%if user_post.tweet %>
            Post shared from <%= user_post.shared_From.name %> 
          <%end%>
        </div>
      </div>
    <%end%>
  </div>
</div>  