<% #FIXME_AB: Any specific reason for this dot in the next line -%>
.<div>
  <div class = "name">
    <%= link_to tweet.user.name, tweet.user %>
  </div>
  <div class="commentator">
    <%= simple_format(tweet.post.content)%>
    <div class="commentator_name">
      <%= tweet.created_at.to_s(:short) %>
    </div>
  </div> 
  <div class="retweet"> 
    <% #FIXME_AB: I can retweet my own tweet. Do you have any check in backend? -%>
    <% if !(tweet.creator?(current_user)) %> 
      <% #FIXME_AB: Why you are not following rest here? -%>
      <%= button_to "Retweet", clone_path(id: tweet.post_id, tweet_id: tweet) %>
    <% end %>
  </div>
  <div class ="shared_user">
    <%if tweet.retweeted %>
      Post shared from <%= tweet.retweeted_from_user.name %> 
    <% end %>
  </div>
</div>